<% include ./partials/header %>

 <body id="page-top">

    <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark fixed-top snav" id="mainNav">-->
    <!--  <div class="container">-->
    <!--    <a class="navbar-brand js-scroll-trigger" href="#page-top">PRODUCTS & SERVICES</a>-->
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--      <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
    <!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
    <!--      <ul class="navbar-nav ml-auto">-->
    <!--        <li class="nav-item">-->
    <!--          <a class="nav-link js-scroll-trigger" href="#about">Landing Pages</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <!--          <a class="nav-link js-scroll-trigger" href="#services">Web Apps</a>-->
    <!--        </li>-->
    <!--        <li class="nav-item">-->
    <!--          <a class="nav-link js-scroll-trigger" href="#contact">E-Commerce</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</nav>-->

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Ornio Lab</h1>
        <p class="lead">Stand Out in a Sea of Ordinary, Make sure your website is set apart from the competition.</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>LANDING PAGES</h2>
            <p class="lead">Want to get Online Presence?</p>
            <ul>
              <li>We Create Visually Stunning Landing Pages for You and Your Company.</li>
              <li>Dynamic and responsive web app development</li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>WEB APPLICATIONS</h2>
              <p class="lead">We Develop Beautiful Mobile Compatible Websites</p>
              <UL>
                <li>High Performance Interactive Web Apps such as Forums and Blogs.</li>
              </UL>
            <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>-->
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>E-COMMERCE</h2>
            <p class="lead">We Develop E-Commerce Web Applications using MEAN Stack.</p>
             <UL>
                <li>High Performance Interactive Shopping Web Apps.</li>
              </UL>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
   

    <!-- Bootstrap core JavaScript -->
    <!--<script src="./vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  
    <!--https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js-->
    <!--<script src="./vendor/popper/popper.min.js"></script>-->  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
    <!--<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <!--<script src="./vendor/jquery-easing/jquery.easing.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- Custom JavaScript for this theme -->
    <!--<script src="scrolling-nav.js"></script>-->
    <script type="text/javascript" src="../js/scrolling-nav.js"></script>

    <!--<script src="/js/scrolling-nav.js"></script>-->

  </body>
<style>
  
  
  .snav{
    margin-top:56px;
  }
</style>




<% include ./partials/footer %>