<% include ./partials/header %>

<div class="container content">
    <div class="row">
        <div style="width: 70%; margin: 25px auto">


     

    

        
        

    
    
    
    
    <h1 style="text-align: center; " >Leave your valuable feedback</h1>
<br><br>
    
    <form action = "/feedback" method = "POST">
         <div class="form-group">
             <p for="custName">Name</p>
        <input class="form-control" type = "text" name = "custName" placeholder = "Name">
        </div>
         <div class="form-group">
             <p for="custPhone">Phone</p>
        <input class="form-control" type = "text" name = "custPhone" placeholder = "Phone">
        </div>
        <div class="form-group">
            <p for="orderNumber">Order Number</p>
        <input class="form-control" type = "text" name = "orderNumber" placeholder = "Order Number">
        </div>
         <div class="form-group">
             <p for="comment">Comment</p>
        <input class="form-control" type = "text" name = "comment" placeholder = "Comment">
        </div>
         <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" >SUBMIT</button>
        </div>
    </form>

</div></div></div>

<% include ./partials/footer %>