<% include ./partials/header %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

  <div id="content">
<div class="row">
<div class="col-lg-7">
<div style="width: 90%; margin: 0px 0px 10px 10px; padding:2em;">
    
    
      <h2>LEAVE A MESSAGE!</h2>
      <br>
          
      
      <form class="contact" action="/contact" method="post"  id='theform'>
        
       
          <div class="form-group">
            <label for="to">Name: </label>
            <input type="text" class="form-control" name="name">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
        
          
          
          <div class="form-group">
            <label for="to">E-Mail: </label>
            <input type="email" class="form-control" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        
          <div class="form-group">
        
          </div>
          
          
          <div class="form-group">
            <label for="subject">Subject: </label>
            <input type="text" class="form-control" name="subject">
            <small id="emailHelp" class="form-text text-muted">If it weren't important, You wouldn't be here.</small>
          </div>
        
 
          <div class="form-group">
        <label for="subject">Mobile: </label>
            <input type="text" class="form-control" name="mobile">
          </div>
          
          
        
          
            <div class="form-group">
              <label for="body">Message: </label>
              <textarea cols="5" rows="5"class="form-control" name="message"></textarea>
              
            </div>
        
         <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" id='btnsubmit' >SUBMIT</button>
        </div>
          
          <!--<div class="form-group">-->
          <!--  <button type="submit" class="btn btn-success">Send</button>-->
          <!--</div>-->
        </div>
      </form>
    </div>
    
  
		   
		   
  <div class="col-lg-5">
    
  <div style="width: 90%; margin: 1px 10px padding:2em;">
    
    
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">ALTUM Lab</h3><hr>
        <p class="card-text">   
                              
                              <h4 class="card-title">Sumit Arya</h4>
                              <p> GURUGRAM, HARYANA - 122001</p>
                              <p> +91- 99101 43123</p>
                              <footer>Get your Quote in <cite title="Source Title">30 minutes</cite></footer></p>
        
      </div>
    </div>
    

    

    
  </div>
  
  </div>
  
  </div></div>

<script>
    
    
     $('#theform').validate({ // initialize the plugin
        rules: {
            name:{
              required:true,
            
            },
            subject:{
              required:true
            },
            message:{
              required:true
            },
            email: {
                required: true,
                email: true
            },
            mobile: {
                required: true,
                minlength: 10
            }
        },
        messages:{
            name: "Please specify your name",
            email: {
                required: "We need your email address to contact you",
                email: "Your email address must be in the format of name@example.com"
              },
            mobile: "Please enter at least 10 digits",
            
            message: "Please give us a little detail about the subject",
            subject: "The reason why you are contacting us"
          
        }
    });
    
    
$('#btnsubmit').on('click',function()
  {
    if($('#theform').invalid){ 
      
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  }});
  
  
  
  
</script>

<style>
  .error {
    color:#c50707a6;
}
.form-control error{
      border: 1px solid red;

}
</style>

<% include ./partials/footer %>