<% include ./partials/header %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<body>

<div class="content-contact" >

<div class="container">
	<div class="row">
		<div class="col-lg-12 content-contact">
		<div id="content" >
	        
	        
	        <% if(error && error.length > 0){ %>
        
            <div class="alert alert-danger" role="alert">
              <%=error%>
            </div>
        
        <%    } %>


    
        
       <% if(success && success.length > 0){ %>
    
        <div class="alert alert-success" role="alert">
          <%=success%>
        </div>
    
       <% } %>
	        
		<h1>ALTUM Lab</h1><hr><br>
			
			
			
			<h1><img src="altum-logo.svg" width="200" height="200" class="d-inline-block align-top" alt=""></h1>
			       <h1><i class="fa fa-eye" aria-hidden="true"></i></h1><br> <h3>Landing Pages</h3><hr><br>
			       <h1><i class="fa fa-globe" aria-hidden="true"></i></h1><br> <h3>Web Apps</h3><hr><br>
			       <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1> <br><h3>E-Commerce Web Apps</h3><hr><br>
			       <h1><i class="fa fa-mobile" aria-hidden="true"></i></h1><h3>Mobile Apps</h3><hr><br>
			<br>
			
			
			
			
                        <form action="/about">
			<button  class="btn btn-default btn-lg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Get Started</button>
			</form>			</div>
		</div>
	</div>
</div>
</div>

</body>
<style>
        body { 
          background: url(landing.jpg) no-repeat center center fixed; 
          background-color:#004085;
          /*background: url(https://lh3.googleusercontent.com/ZP8LDyxsmYOAxVlnurt4_R9T4GPmShKAXhnem98NukaOx3Ise7jdT2KyAeE46YLTECBy0AtMoTW2rvKWZ_28TSGqX24c7IgI9pU78g1-elJ7KlzDNNHX2ukIL-_NhG3jAhZFGdcjvRDXJdAmN7zYSxlakM2KrpCqnJnbt8rKpMcdLLAxxlyy9TqntRJMDH0IkAUWnn6kE0DQP6SkgT1wbRtHfetaQ9L4SJfkdeiGpRbGVprqUqZ4OPWbMtPNVUrQBqXsZl__MlTmk7F8LxmljoPyxaMUpcRjoPeMrq2M1w2QrzJNeiKdACgsveaIkPF-hBG_yCJnAWuwZynb3CjikazZH3DyUctYvR2qVt_rKr5gyLlx50Qsv63clcwX6aXCcneNvA9sj5vvgwjQ8erVkZkVR-FPIyNBJSCfCySXEjT3IS54dDoWd515H5eOv7SsERuau51KWpJdZPeSFHYl8e8YwNv37AW3wCDtX4JjC1yFwDu8SIlzbWSGzLJNPMpjYQOn2fpHG0cPCVHZ9noE-5jj5a7Y4D4ykilgsf53NC5K_j5JfiqbbjKiVLHbsvqtZvkAMA-ob4pxx3KGYnVktTGr9Vq5MplUc4wKNO4a2kW3MR-OMvtkIEYZkwDYUcm75Ydu-fjusSxyYrGHwSOCneoQcB6zb5_RuiLZMQqAPOGxFBA=w1294-h622-no) no-repeat center center fixed; */
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
        
        #content{
        	text-align: center;
        	/*padding-top: 26%;*/
        }
        
        body{
        	font-family: 'Open Sans', sans-serif;
        	color: white;
        
        	/*font-color:white;*/
        }
        h1{
        	font-weight: 700;
        	font-size: 4em;
        	text-shadow: 3px 3px 4px black; 
        
        }
        
        h3{
        	text-shadow: 3px 3px 4px black; 
        	font-size: 1.5em;
        }
        
        html{
        	height: 100%;
        }
        
        hr{
        	width: 300px;
        	border-top: 1px solid #f8f8f8;
        	border-bottom: 1px solid rgba(0,0,0,0.2);
        }

</style>
<script type="text/javascript" src="../js/alert.js"></script>
<% include ./partials/footer %>