<% include ./partials/header %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


<div class="content">

    <div class="container">
    
    <div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Welcome  <strong><%= currentUser.oname %></strong>
</div>
        
    
    <% if(error && error.length > 0){ %>
        
            <div class="alert alert-danger" role="alert">
              <%=error%>
            </div>
        
        <%    } %>


    
        
       <% if(success && success.length > 0){ %>
    
        <div class="alert alert-success" role="alert">
          <%=success%>
        </div>
    
       <% } %>
    
  <h1 style="text-align: center; " >Add a new Order </h1><br>
 
 <div class="row">

    <div style="width: 30%; margin: 25px auto">
    
        <form action="/newbill" method="POST"  id='theform'>
            
            <!--<div class="form-group">-->
                <!--<h3 for="ordernumber">Order Number</h3>-->
                <!--<input class="form-control" type="text" name="bn" placeholder="Order Number">-->
            <!--</div>-->
            
            <div class="form-group">
                <h3 for="tablenumber">Table Number</h3>
                <input class="form-control" type="text" name="tablenumber" placeholder="Table Number">
            </div>
            
             <div class="form-group">
                 <h3 for="waitername">Waiter Name</h3>
            <input class="form-control" type="text" name="waitername" placeholder="Waiter Name">
            </div>
            
             <!--onclick="UserAction()" -->
            
            <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block"  id='btnsubmit' >Submit</button>
            </div> 
        </form>
            
    </div>

</div>

  
 
  
  </div>



			  <script>
			  
     $('#theform').validate({ // initialize the plugin
        rules: {
            waitername:{
              required:true,
            
            },
            tablenumber:{
              required:true
              
            }
        },
        messages:{
            waitername: "Please specify the waiter's name.",
            
            tablenumber: "Please enter the table number on which the order is placed.",

        }
    });
    
    
			  
    
    

     $('#btnsubmit').click(function(){

    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
    
     })
</script>

<style>
  .error {
    color:#c50707a6;
}
.form-control error{
      border: 1px solid red;

}
</style>

<% include ./partials/footer %>
