<% include ./partials/header %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


<div class="container content">
    <div class="row">
        <div style="width: 70%; margin: 25px auto;">
     <% if(error && error.length > 0){ %>
        
            <div class="alert alert-danger" role="alert">
              <%=error%>
            </div>
        
        <%    } %>


    
        
       <% if(success && success.length > 0){ %>
    
        <div class="alert alert-success" role="alert">
          <%=success%>
        </div>
    
       <% } %>
    <h1 style="text-align: center; " >Create A New Account!</h1>

<br><br>

   
    <form action = "/register" method = "POST"  id='theform' >
        <p>*All Fields are mandatory</p>
        
        <div class="form-group">
            <p for="username">User Name (Case Sensitive)</p>
        <input class="form-control" type = "text" name = "username" placeholder = "User name has to be unique">
        </div>
        
        <div class="form-group">
            <p for="email">E-Mail ID</p>
        <input class="form-control" type = "text" name = "email" placeholder = "E-Mail ID">
        </div>
        
         
        <div class="form-group">
            <p for="password">Password</p>
        <input class="form-control" type = "password" name = "password" id="confirm_password" placeholder = "Password">
        </div>
        
        <div class="form-group">
            <p for="password">Confirm Password</p>
        <input class="form-control" type = "password"  id="password" placeholder = "Confirm Password">
        </div>
       
        
        <div class="form-group">
            <p for="restoname">Restaurant Name:</p>
        <input class="form-control" type = "text" name = "restoname" placeholder = "Restaurant Name">
        </div>
        
        <div class="form-group">
            <p for="add1">Address Line 1</p>
        <input class="form-control" type = "text" name = "add1" placeholder = "Address Line 1">
        </div>
        
        <div class="form-group">
            <p for="add2">Address Line 2</p>
        <input class="form-control" type = "text" name = "add2" placeholder = "Address Line 2">
        </div>
        
         <div class="form-group">
             <p for="add3">Address Line 3</p>
        <input class="form-control" type = "text" name = "add3" placeholder = "Address Line 3">
        </div>
        
         <div class="form-group">
             <p for="phone">Telephone</p>
        <input class="form-control" type = "text" name = "phone" placeholder = "Telephone">
        </div>
        
        
        <div class="form-group">
<button class="btn btn-lg btn-primary btn-block"  value="Submit" id='btnsubmit' >Sign Up</button>        </div>
    </form>
</div>

<script>



    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;


     $('#theform').validate({ // initialize the plugin
        rules: {
            username:{
              required:true,
            
            },
            restoname:{
              required:true
            },
            password:{
              required:true
            },
            add1:{
              required:true
            },
            add2:{
              required:true
            },
            add3:{
              required:true
            },
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true,
                minlength: 10,
                number:true
            }
        },
        messages:{
            name: "Please specify your name",
            email: {
                required: "We need your email address to contact you",
                email: "Your email address must be in the format of name@example.com"
              },
            mobile: "Please enter at least 10 digits",
            
            restoname: "What's your restaurant called"
        }
    });


$('#btnsubmit').on('click',function()
  {
    if($('#theform').invalid){ 
      
    $(this).val('Please wait ...')
      .attr('disabled','disabled');
    $('#theform').submit();
  }});

</script>

<style>
  .error {
    color:#c50707a6;
}
.form-control error{
      border: 1px solid red;

}
</style>

<% include ./partials/footer %>